body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #27AE60;
	font-size: 0;
}

body>*{
	display: none;
}


body .brower{
	display: block;
	position: fixed;
	top: 50%;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: -25px;
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	letter-spacing: 6px;
}